@font-face {
    font-family: HM;
    src: url("fonts/HM.ttf");
  }

body {
    text-align: center;
    font-family: HM;
    color: white;
    background: url("images/background.jpg") no-repeat fixed center;
    /* background: linear-gradient(#000000 33%, #dd0000 33% 66%, #ffce00 66%); */
}

h1, h2, h3, p {
    text-shadow: 0 0 10px black;
    margin: 5px 0px;
}

#pp {
    width: 450px;
    /* height: 300px; */
    border-radius: 50%;
    border: solid 6px #ffffff;
    margin: 10px 0px;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

.gift-img {
    width: 400px;
    border-radius: 10px;
    height: 400px;
    width: 400px;
    border: 6px solid white;
    background-image: url("images/gift-cover.jpg");
    background-size:cover;
    background-position: center;
    margin: auto;
}

/* This can be added to alter the size or appearance of any of the gift-images */
#img1{
    background-size: cover;
    height: 200px;
}

#img1:hover{
    background-image: url("images/img1.jpg");
}

#img2:hover{
    background-image: url("images/img2.jpg");
}

#img3:hover{
    background-image: url("images/img3.jpg");
}

#img4:hover{
    background-image: url("images/img4.jpg");
}

#img5:hover{
    background-image: url("images/img5.jpg");
}

#img6:hover{
    background-image: url("images/img6.jpg");
}

#img7:hover{
    background-image: url("images/img7.jpg");
}

footer{
    font-style: italic;
    margin: 50px auto;
    width: 400px;
    color: #000000;
}